body {
  font-family: 'Muli', sans-serif;
}

#tweet-display {
  background-color: aqua;
}

#tweet-display li:nth-child(1) {
  animation: tweetload 0.5s infinite;
  -webkit-animation: tweetload 0.5s infinite;
}

@keyframes tweetload {
  0% { color: aqua }
  50% { color: red }
  100% { color: aqua; }
}

@-webkit-keyframes tweetload {
  0% { color: aqua }
  50% { color: red }
  100% { color: aqua; ¬}
}

#hashtag-display {
  background-color: red;
}

#new-tweet input[type=submit] {
  background-color: #75C2E0;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px orange;
  text-shadow: 1px 1px 1px white;
  padding: 10px;
}

#new-tweet input[type=submit]:hover {
  -webkit-animation: buttonclick 0.5s infinite;
  animation: buttonclick 0.5s infinite;
}

#new-tweet input[type=submit]:focus {
  outline: none;
  -webkit-animation: buttonclick 0.5s infinite;
  animation: buttonclick 0.5s infinite;
}

@keyframes buttonclick {
  0% { background-color: red; }
  50% { background-color: aqua; }
  100% { background-color: red; }
}

@-webkit-keyframes buttonclick {
  0% { background-color: red; }
  50% { background-color: aqua; }
  100% { background-color: red; }
}

#hashtag-box {
  float: right;
}

#tweet-box {
  float: left;
}

.content-display ol {
  margin: 10px;
  /*padding: 20px 50px;*/
}

.content-display div {
  width: 46%;
  padding: 2%;
}

article {
  text-align: center;
}